<ion-header-bar align-title="center" class='bar login-bar'>

</ion-header-bar>
<ion-content class='login-page'>
    <div class='card'>
      <div class='item'>
        <h1 class='appTitle'>Movie Buddy</h1>
      </div>
      <div class='item item-body login-item-image'>
        <img class='login-image' ng-src='../img/movieBuddyLogo.png'>
      </div>
      <br>
      <div class='item login-item login-button' >
        <a class='loginAnchor' href='http://moviebuddyapp.herokuapp.com/auth/facebook'>
          <button class='fb-login-button button button-light button-large ion-social-facebook'>
            Connect With Facebook 
          </button>
        </a>
      </div>
      <div ui-view='loading'></div>
    </div>
   
</ion-content>

