
<ion-header-bar align-title="center" class="bar-positive">
  
  <h1 class="title">MovieBuddy</h1>
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Logout</button>
  </div>
</ion-header-bar>


<ion-tabs class="tabs-icon-top">


  <!-- Dash Tab -->
  <ion-tab title="Outings" icon="ion-android-friends" ui-sref="dash.outings">
    <ion-nav-view name="outings"></ion-nav-view>
  </ion-tab>


  <!-- Movies Tab -->
  <ion-tab title="Movies" icon="ion-film-marker" ui-sref="dash.movies">
    <ion-nav-view name="movies"></ion-nav-view>
  </ion-tab>


  <!-- Profile Tab -->
  <ion-tab title="Profile" icon="ion-android-contact" ui-sref="dash.profile">
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
