
<!-- Header Bar -->
<ion-header-bar align-title="center" class='bar-light' >
  <img class='button button-clear' src='../img/movieBuddyLogo333.png'>
  <!-- Title -->
  <h1 class="title">Movie Buddy</h1>
  <!-- Logout Button -->
  <a class="button button-clear icon ion-log-out"  ng-href="/logout"></a>
</ion-header-bar>

<!-- Tabs -->
<ion-tabs class="tabs-icon-top tabs-light">

  <!-- Dash Tab -->
  <ion-tab title="Outings" icon="ion-calendar mb-icon-color" ui-sref="dash.outings">
    <ion-nav-view name="outings"></ion-nav-view>
  </ion-tab>

  <!-- Movies Tab -->
  <ion-tab title="Movies" icon="ion-film-marker mb-icon-color" ui-sref="dash.movies">
    <ion-nav-view name="movies"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon="ion-android-contact mb-icon-color" ui-sref="dash.profile">
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon="ion-android-friends mb-icon-color" ui-sref="dash.friends">
    <ion-nav-view name="friends"></ion-nav-view>
  </ion-tab>

</ion-tabs>