<ion-header-bar align-title="center" class="bar-positive">
  <!-- <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div> -->
  <h1 class="title">MovieBuddy</h1>
  <!-- <div class="buttons">
    <button class="button">Right Button</button>
  </div> -->
</ion-header-bar>
<ion-content class='login-page has-header padding'>
    <br>
    <a href='http://localhost:8080/auth/facebook' >
      <button class='login-button ion-social-facebook button button-large button-positive' >
        Connect With Facebook
      </button>
    </a>
</ion-content>
