<ion-header-bar align-title="center" class="bar-positive">

</ion-header-bar>
<ion-content class='login-page has-header padding'>
    <div>
      <h1 class='appTitle'>MovieBuddy</h1>
      <h3 class='appSubTitle'>Create Movie Outings Fast</h3>
    </div>
    <div class='item login-item'>
      <a class='loginAnchor' href='http://localhost:8080/auth/facebook'>
        <button class='fade-in login-button button button-large button-positive button-full ion-social-facebook'>
          Connect With Facebook 
        </button>
      </a>
    </div>
</ion-content>
<ion-footer-bar class="bar-positive">
</ion-footer-bar>
