<ion-header-bar align-title="center" class="bar-positive">

</ion-header-bar>
<ion-content class='login-page has-header padding'>
    <div class='card'>
      <div class='item'>
        <h1 class='appTitle'>MovieBuddy</h1>
      </div>
      <div class='item item-image'>
        <img src='../img/movieBuddyLogo.png'>
      </div>
      <div class='item login-item'>
        <a class='loginAnchor' href='http://localhost:8080/auth/facebook'>
          <button class='login-button button button-large button-positive button-full ion-social-facebook'>
            Connect With Facebook 
          </button>
        </a>
      </div>
    </div>
   
    
</ion-content>
<ion-footer-bar class="bar-positive">
</ion-footer-bar>
