<ion-view title="Outings">
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-content class="has-header padding">
        <button ng-click='toggleLeft()' class='button button-energized button-full'>Create Outing
        </button>
        <input 
        <ion-scroll>
          <ion-list option-buttons="outingButtons">
              <ion-item ng-repeat="outing in outings" item="outing" can-swipe="true">
                <form editable-form name='editableForm' onaftersave="editOuting()">
                    
                    MOVIE TITLE:
                    <span class='movieDetail' editable-select='outing.movie' e-required e-ng-options="movie.title as movie.title for movie in allMovies">
                    {{outing.movie}}
                    </span>
                    <br>
                    DATE:
                    <span  class='movieDetail' editable-date='outing.date'>
                    {{outing.date | date: 'EEE. MMM. d' }}
                    </span>
                    <br>
                    THEATER:
                    <span  class='movieDetail' editable-text='outing.theater'>
                    {{outing.theater}}
                    </span>
                    <br>
                    ATTENDEES:
                    <span ng-repeat="(attendeeId, attendee) in outing.attendees">{{attendee.name}}
                    </span>
                    <br>
                    <button type="button" ng-click="editableForm.$show()" ng-show="!editableForm.$visible && showEditButton()" class='button button-small button-calm'>Edit</button>
                    <span ng-show="editableForm.$visible">
                      <button type="submit" ng-disabled="editableForm.$waiting" class='button button-balanced'>Save Edit</button>
                      <button type="button" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" class='button button-assertive'>Cancel Edit</button>
                    </span>
                </form>
              </ion-item>
            </ion-list>
          </ion-scroll>
      </ion-content>
    </ion-side-menu-content>
    <ion-side-menu side='left'>
      <ion-content>
        <ion-header-bar class='bar-energized'>
          <h1 class='title'>New Outing</h1>
        </ion-header-bar>
        <br><br>
        <form class="outingsForm" ng-submit='processOutingForm()' name='outingForm'>
          <label class='item'>
            <select ng-model='form.movie.title' ng-options="movie.title for movie in allMovies" type='text' class='selectMovie' placeholder='Movie'></select>
          </label>
          <label class='item item-input'>
            <input ng-model='form.date' type='date'>
          </label>
          <label class='item item-input'>
            <input ng-model='form.theater' type='text' placeholder='Theater'>
          </label>
          <button type='submit' class='button button-full button-positive'>Submit</button>
        </form>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
  
</ion-view>
