<ion-view title="Outings">
  <ion-content class="has-header padding">
    <button class='button button-energized button-full'>Create Outing
    </button>
    <ion-scroll>
      <ion-list option-buttons="outingButtons">
          <ion-item ng-repeat="outing in outings" 
                    item="outing" 
                    can-swipe="true">
          MOVIE TITLE:
          {{outing.movie}}
          <br>
          DATE:
          {{outing.date}}
          <br>
          THEATER:
          {{outing.theater}}
          <br>
          ADDRESS:
          {{outing.address}}
          <br>
          CITY:
          {{outing.city}}
          <br>
          STATE:
          {{outing.state}}
          <br>
          ZIP:
          {{outing.zip}}
          </ion-item>
        </ion-list>
      </ion-scroll>
  </ion-content>
</ion-view>
