/* Empty. Add your own CSS if you like */

.login-page {
  background-color: #9DE0AD;
}

.login-button {
  margin: auto auto;
  border-radius: 5px;
  display: block;
}

.dash-page {
	background-color: #9DE0AD;
}

/* Space out content a bit */

/* web fonts */

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/Bebas/bebas___-webfont.eot');
    src: url('../fonts/Bebas/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas/bebas___-webfont.woff') format('woff'),
         url('../fonts/Bebas/bebas___-webfont.ttf') format('truetype'),
         url('../fonts/Bebas/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'glyphicons';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.svg'),
       url('../fonts/glyphicons-halflings-regular.ttf'),
       url('../fonts/glyphicons-halflings-regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir_LT_95_Black.ttf');
}

/* Google Fonts
font-family: 'Inder', sans-serif;
font-family: 'Viga', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Gentium Book Basic', serif;

  Colors Used
#00A8C6 - light blueish
#F38630 - bright orange
#FA6900 - slightly darker orange
rgba(37, 244, 154, .75) - mint
#E0E4CC - off white
*/

/* Global Reset */
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
}

body {
  font-family: 'Avenir-Black';
  color: #333 !important;
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.appHeader {

}

.logoutButton {

}

.logoutButton:hover {

}

.sectionDiv {
}

.sectionHeader {
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: .1em;
  cursor: pointer;
}

.sectionContainer {
  padding: 20px;
  display: none;
  background: url('../images/grey_wash_wall.png');
}

.sectionContainerProfile {

}

/* login fun */

.loginContainer {

}

.loginHeaderDiv {

}

.loginHeader {

}

.loginHeaderTwo {

}

.logoDiv {

}

.logo {

}

.loginDiv {

}

.fbLogin {
  height: 80px;
  width: 400px;
  border: 0px;
  background: url('../images/fblogin.png');
  background-position: center;
  cursor: pointer;
}

.fbLogin:focus {
  outline: 0;
}

.loginFooter {

}

/* Profile Fun */

.profileSection{

}

.profile {
}

#profilePicDiv {
  text-align: center;
}

#profilePic {
  height: 150px;
  width: 140px;
  border-radius: 20px;
}

#userDetails {
  margin-top: 10px;
  text-align: center;
}

#userMovieDetails {
  text-align: center;
}

.userDetail {
  color: black;
  border: 0px;
  line-height: 2.5em;
  display: block;
}

.editableUserDetail {
  color: black;
  border: 0px;
}

/* css override of xeditable angular */
.editable-controls {
}

.editable-input {
  border: 0px;
  border-bottom: 1px solid #333;
  height: 20px;
  width: 300px !important;
  background-color: #FFFFFF;
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
}

.editable-input:focus {
  outline: 0;
} 

.editable-buttons button {
  padding: 0px;
  width: 25px;
  height: 25px;
  font-size: 6px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #00A8C6;
  text-align: center;
  text-transform: uppercase;
}

.editable-buttons button:nth-child(2) {
  background-color: #d9534f;
}

/* friends */

.sectionContainerFriends {
  padding-left: 0px;
}

.friendsSection {
  padding: 0px !important;
}

.friend {

}

.friendsPhoto {
  height: 50px;
  border-radius: 5px;
  float: left;
}

.friendName {
  display: inline-block;
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 2em;
}

.friendDetail {
  display: block;
}

.animate-show.ng-hide-add, 
.animate-show.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  line-height:0;
  opacity:0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  line-height:20px;
  opacity:1;
}


/* movies */


.filters {
  text-align: center;
}

.filter {
  font-size: .75em !important;
}

.filter:hover {

}

.filter:focus {
  outline: 0;
}

.item-content {

}

.moviesView {
  
}

.movieList {

}

.movie {

}


.movieThumb {
  margin-left: 5px;
  height: 100px;
  width: 70px;
}

.movieInfo{
  line-height: 1.4em;
  padding-left: 5px !important;
  width: 120px;
  font-size: .5em;
  text-align: left;
  float: left;
}

.movieTitle {
  font-size: 1em;
  text-decoration: underline;
  display: block;
}

.criticScore {
  display: block;
}

.audienceScore {
  display: block;
}

.runtime {
 display: block;
}

.synopsis {
  cursor: pointer;
}

.goSeeIt {
  font-family: 'Avenir-Black' !important;
  font-size: .6em;
  line-height: 1.4em;
  margin-top: 2.5px;
  padding: 0px !important;
  display: inline-block;
  width: 50px;
  height: 65px;
  text-transform: uppercase;
}

.fandangoBuy {
  font-family: 'Avenir-Black' !important;
  padding: 0px !important;
  font-size: .6em;
  line-height: 1.4em;
  text-transform: uppercase;
  margin-top: 2.5px;
  display: inline-block;
  width: 50px;
  height: 65px;
}

.movieHR {
  margin-bottom: 5px;
}

.movieOutingsForm {
  width: 100%;
  display: block;
}



/* outings */

.centered {
  text-align: center;
}

.outingsSectionHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #00A8C6;
}

.selectMovie {
  width: 100%;
  border: 0px;
  padding: 0px;
}

.outingField {
  width: 100% !important;
}

.outingsThumbnail {
  margin-left: 5px;
  height: 65px;
  width: 50px;
  float: left;
}

.outingDetails {
  width: 150px;
  margin-left: 5px;
  font-size: .5em;
  line-height: 1.5em;
  float: left;
}

.outingDetail {
  display: block;
}

.fandangoBuyOuting {
  font-family: 'Avenir-Black' !important;
  font-size: .6em;
  line-height: 1.4em;
  margin-top: 2.5px;
  padding: 0px !important;
  display: inline-block;
  height: 65px;
  text-transform: uppercase;
}

/* footer */
.footer {
  background: url('../images/grey_wash_wall.png');
  height: 100px;
}
