/* Empty. Add your own CSS if you like */

@font-face {
  font-family: 'geared';
  src: url('geared/GearedSlab-Bold.ttf');
  src: url('geared/GearedSlab-Extrabold.ttf');
  src: url('geared/GearedSlab-Light.ttf');
  src: url('geared/GearedSlab.ttf');
}

/* Google Fonts
font-family: 'Inder', sans-serif;
font-family: 'Viga', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Gentium Book Basic', serif;

  Colors Used
#00A8C6 - light blueish
#F38630 - bright orange
#FA6900 - slightly darker orange
rgba(37, 244, 154, .75) - mint
#E0E4CC - off white
*/

/* Global Reset */
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
}

html {

}

body {
  font-family: 'Avenir-Black';
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.helvetica {
  font-family: 'Helvetica' !important;
  text-transform: capitalize;
}

.scroll-content {
  
}

.list {
  background-color: transparent;
}

.item {
  border: 0px;
}

.card {
  border: 0px;
}

.bar {
  border: 0px !important;
  background-color: transparent;
}

.bar-header {
  border: 0px !important;
}

.has-header {
  border: 0px !important;
}

.appTitle {
  font-size: 3em;
  text-align: center;
  font-family: 'GearedSlab-Extrabold';
}

.appSubTitle {
  font-family: 'Helvetica';
  text-align: center;
}

.logoRow {
  margin-top: 5px;
  height: 10px;
}

.logoCol {
  background-color: #333;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.logoutButton {

}

.logoutButton:hover {

}

.sectionDiv {
}

/* Loading Page */

.loading-icon-item {
  text-align: center;
}

.loading-icon {
  margin-top: 70px;
  font-size: 70px;
}



/* login fun */

.login-page {

}

.login-item {
  padding: 0px;
}

.login-button {
  border-radius: 10px;
}

.loginAnchor {
  text-decoration: none;
}

/* Profile Fun */

.profileSection{

}

.profile {
}

#profilePicDiv {
  text-align: center;
}

#profilePic {
  height: 150px;
  width: 140px;
  border-radius: 20px;
}

#userDetails {
  margin-top: 10px;
  text-align: center;
}

.userDetailFont {
  font-family: 'helvetica';
  line-height: 0px;
  font-size: 12px;
  color: black;
}

.editableUserDetail {
  border: 0px;
}

/* css override of xeditable angular */
.editable-controls {

}

.editable-input {

}

.editable-input:focus {
  outline: 0;
} 

.editable-buttons button {
  padding: 0px;
  width: 25px;
  height: 25px;
  font-size: 6px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #00A8C6;
  text-align: center;
  text-transform: uppercase;
}

.editable-buttons button:nth-child(2) {
  background-color: #d9534f;
}

/* friends */

.sectionContainerFriends {
  padding-left: 0px;
}

.friendsSection {
  padding: 0px !important;
}

.friend {

}

.friendsPhoto {
  height: 50px;
  border-radius: 5px;
  float: left;
}

.friendName {
  display: inline-block;
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 2em;
}

.friendDetail {
  display: block;
}


/* movies */


.filters {
  text-align: center;
}

.filter {
  font-size: .75em !important;
}

.filter:hover {

}

.filter:focus {
  outline: 0;
}

.movieCard {
  padding: 0px !important;
  font-family: 'Helvetica';
}

.movieItem {
  padding: 0px;
}

.movieThumb {
  height: 150px;
  width: 100px;
  float: left;
}

.movieInfo{
  line-height: 20px;
  padding-left: 5px !important;
  font-size: 12px;
  width: 200px;
  text-align: left;
  float: left;
}

.movieTitle {
  font-size: 5px;
  text-decoration: underline;
  display: block;
}

.criticScore {
  display: block;
}

.audienceScore {
  display: block;
}

.runtime {
  display: block;
}

.synopsis {
  cursor: pointer;
}

.movieHR {
  margin-bottom: 5px;
}

.movieOutingsForm {
  width: 100%;
  display: block;
}



/* outings */

.centered {
  text-align: center;
}

.outingsSectionHeader {

}

.selectMovie {
  width: 100%;
  border: 0px;
  padding: 0px;
}

.outingItemBody {
  padding-top: 1px;
  padding-bottom: 0px;
}

.outingField {
  width: 100% !important;
}

.outingMovieTitle {

}

.outingMovieThumb {
  height: 260px;
  width: 180px;
}

.outingDetails {
  width: 150px;
  margin-left: 5px;
  font-size: .5em;
  line-height: 1.5em;
  float: left;
}

.outingDetail {
  display: block;
}

/* footer */
.footer {
  background: url('../images/grey_wash_wall.png');
  height: 100px;
}
